BUILD/
ReID-Demo/quantized_model/*.bias.bin
ReID-Demo/quantized_model/*.weights.bin
ReID-Demo/SqueezeNet_L3_Flash_Const.dat
ReID-Demo/GenDetectionTile
ReID-Demo/GenExtraTile
ReID-Demo/GenReidNet
ReID-Demo/CnnKernels.c
ReID-Demo/CnnKernels.h
ReID-Demo/ExtraKernels.c
ReID-Demo/ExtraKernels.h
ReID-Demo/FaceDetKernels.c
ReID-Demo/FaceDetKernels.h
tests/activations_dump/
tests/*/SqueezeNet_L3_Flash_Const.dat
tests/*/GenDetectionTile
tests/*/GenExtraTile
tests/*/GenReidNet
tests/*/CnnKernels.c
tests/*/CnnKernels.h
tests/*/ExtraKernels.c
tests/*/ExtraKernels.h
tests/*/FaceDetKernels.c
tests/*/FaceDetKernels.h
*.log
